body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #eee;
    background: linear-gradient(to right, #222, #444);
    background:url('https://images.unsplash.com/photo-1626719122710-eca521d936f5?q=80&w=1384&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

header {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 40px 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: .8px solid white;
    border-radius: 123px;
}

h2 {
    color: #fff;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.routine-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}
